:root{
    --primary-text-color: white;
    --header-background-color: #b2b2b2;
    --blue-background-color: rgb(7, 40, 85);
    --secondary-background-color: #5894b9;
    --secondary-layer: 2;
    --primary-layer: 3;
}
body{
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
#resumeOffert{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#infoOffert{
    display: flex;
    align-items: start;
    justify-content: space-around;

}
#priceOffert{
    border: 1px solid green;
    width: 300px;
}
#priceOffert .info{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.valueInfo{
    font-weight: bold;
}
#priceOffert .subtotal{
    font-weight: bold;
}
#priceOffert .total{
    color: greenyellow;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
}
#dividedInfo{
    border: 1px solid gray;
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#bookoffert{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#bookFlightButton{
    padding: 20px;
    background-color: var(--blue-background-color);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.button{
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#backHome{
    border: 2px solid black;
}
#completedBook{
    font-size: 20px;
    border: 2px solid green;
    text-align: center;
    display: none;
}