#rome-destination-box{
    background-image: url('/media/rome.jpg');
}
#dublin-destination-box{
    background-image: url('/media/dublin.jpg');
}
#vienna-destination-box{
    background-image: url('/media/vienna.jpg');
}
#miami-destination-box{
    background-image: url('/media/miami.jpg');
}
#newyork-destination-box{
    background-image: url('/media/newyork.jpg');
}
#naples-destination-box{
    background-image: url('/media/naples.jpg');
}
#vietnam-destination-box{
    background-image: url('/media/vietnam.jpg');
}
#canada-destination-box{
    background-image: url('/media/canada.jpg');
}
#australia-destination-box{
    background-image: url('/media/australia.jpg');
}
#sweden-destination-box{
    background-image: url('/media/sweden.jpg');
}